main {
    margin-top: 10px;
}
p { color :lime; }
.isNew {display:none;}
.thumbnail { 
    border-radius: 0;
    margin-bottom: -1px;
     
    h4{
        font-size: 3vh;
    }    
}

artist-item {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    border: 1px solid white;
    margin: 0px;
    height: 150px;
    width: 200px;
    cursor: pointer;
  }

  #artist-count {
      position: relative;
      top: 6px;
  }

  virtual-scroll{ 
      margin-top: 50px;
  }