<div class="row">



    <div class="col-md-3">
        <div class="jumbotron">
            <div class="container">
                <h1>Genres</h1>
                <p>This shows a visual weighted representation of all genres 
                    related to artists in your catalog. Click a genre to view the artists.</p>
            </div>
        </div>
    </div>


    <div class="col-md-9">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default active" id="all">
                <input type="radio" name="options"> All Genres
            </label>
            <label class="btn btn-default" id="start_year">
                <input type="radio" name="options"> Grouped by Todo
            </label>
        </div>

        <div id="chart"></div>
    </div>

</div>