<minmax [min]="0" [max]="1" [label]="'acousticness'"
        [minStream]="options.min_acousticness"
        [maxStream]="options.max_acousticness"></minmax> 

<minmax [min]="0" [max]="1" [label]="'danceability'"
        [minStream]="options.min_danceability"
        [maxStream]="options.max_danceability"></minmax> 

<minmax [min]="0" [max]="1000*60*30" [label]="'duration_ms'" [round]="true"
        [minStream]="options.min_duration_ms"
        [maxStream]="options.max_duration_ms"></minmax> 

<minmax [min]="0" [max]="1" [label]="'energy'"
        [minStream]="options.min_energy"
        [maxStream]="options.max_energy"></minmax> 

<minmax [min]="0" [max]="1" [label]="'instrumentalness'"
        [minStream]="options.min_instrumentalness"
        [maxStream]="options.max_instrumentalness"></minmax> 

<minmax [min]="0" [max]="12" [label]="'key'" [round]="true"
        [minStream]="options.min_key"
        [maxStream]="options.max_key"></minmax> 

<minmax [min]="0" [max]="1" [label]="'liveness'"
        [minStream]="options.min_liveness"
        [maxStream]="options.max_liveness"></minmax> 

<minmax [min]="0" [max]="1" [label]="'loudness'"
        [minStream]="options.min_loudness"
        [maxStream]="options.max_loudness"></minmax> 

<minmax [min]="0" [max]="1" [label]="'mode'" [round]="true"
        [minStream]="options.min_mode"
        [maxStream]="options.max_mode"></minmax> 

<minmax [min]="0" [max]="100" [label]="'popularity'" [round]="true"
        [minStream]="options.min_popularity"
        [maxStream]="options.max_popularity"></minmax> 

<minmax [min]="0" [max]="1" [label]="'speechiness'"
        [minStream]="options.min_speechiness"
        [maxStream]="options.max_speechiness"></minmax> 

<minmax [min]="0" [max]="300" [label]="'tempo'" [round]="true"
        [minStream]="options.min_tempo"
        [maxStream]="options.max_tempo"></minmax> 

<minmax [min]="0" [max]="8" [label]="'time_signature'" [round]="true"
        [minStream]="options.min_time_signature"
        [maxStream]="options.max_time_signature"></minmax> 

<minmax [min]="0" [max]="1" [label]="'valence'"
        [minStream]="options.min_valence"
        [maxStream]="options.max_valence"></minmax> 



<!--<label>acousticness</label>
<slider [min]="0" [max]="1" [valueStream]="options.acousticness"></slider>

<label>danceability</label>
<slider [min]="0" [max]="1" [valueStream]="options.danceability"></slider>

<label>duration s</label>
<slider [min]="1" [max]="60*10" [valueStream]="options.duration"></slider>

<label>energy</label>
<slider [min]="0" [max]="1" [valueStream]="options.energy"></slider>

<label>instrumentalness</label>
<slider [min]="0" [max]="1" [valueStream]="options.instrumentalness"></slider>

<label>key</label>
<slider [min]="0" [max]="12" [round]="true" [valueStream]="options.key"></slider>

<label>liveness</label>
<slider [min]="0" [max]="1" [valueStream]="options.liveness"></slider>

<label>loudness</label>
<slider [min]="0" [max]="1" [valueStream]="options.loudness"></slider>

<label>mode</label>
<slider [min]="0" [max]="1" [round]="true" [valueStream]="options.mode"></slider>

<label>popularity</label>
<slider [min]="0" [max]="100" [valueStream]="options.popularity"></slider>

<label>speechiness</label>
<slider [min]="0" [max]="1" [valueStream]="options.speechiness"></slider>

<label>tempo</label>
<slider [min]="0" [max]="1" [valueStream]="options.tempo"></slider>

<label>time_signature</label>
<slider [min]="0" [max]="8" [valueStream]="options.time_signature"></slider>

<label>valence</label>
<slider [min]="0" [max]="1" [valueStream]="options.valence"></slider>-->