<!--<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Artist Filter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Results</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Genre Filter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Options</a>
            </li>
        </ul>
      </div>
  </div>
</nav>-->

<swipeables [outlet]="'recommendations'" [swipeRoutes]="swipeRoutes">
</swipeables>
