:host { 
    display: inline-block;
    overflow: hidden;
    vertical-align: top;    
    margin: 0px;
    height: 150px;
    width: 50%;
    cursor: pointer;
    border-bottom: 1px solid #888;
    border-left: 1px solid #999;
    padding-left: 10px;
    padding-top: 10px;
}
:host:hover{
    background: #eee;
}
.artist-item { 
    overflow: hidden;
    width: 100%;

    .badge.popularity { 
        background: limegreen;
    }

    .artist-details{
        position: relative;
        left:150px;
        top: 0;
    }
}
