p { color :lime; }
artist-item { 
    overflow: hidden;
    position: absolute;
}
.isNew {display:none;}
.badge {
    text-align:left;
    position: relative; 
    left: 10px;
    top: 4px;
    
    background: #444;
}
.loading {
    width:200px; 
    height:150px; 
    background: url('https://d13yacurqjgara.cloudfront.net/users/18886/screenshots/1027635/loading.gif') center;
}
.thumbnail { 
    z-index: 99;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: -1px;
    overflow: hidden;
    width: 250px;
    margin-top:-30px;    
    
    img{
        width:250px;
        
    }
    h4{
        font-size: 3vh;
    }    
}
