p { color :lime; }
.grid-item { width: 260px; height: 260px; }
.isNew {display:none;}
.thumbnail { 
    border: none;
    border-radius: 0;
    margin-bottom: -1px; 
    overflow: hidden;
    width: 250px;
    img{
        width:300px;
    }
    h4{
        font-size: 3vh;
    }    
}
